<!DOCTYPE>
<html>
<head>
  <title>Datas List</title>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'device/datas_list.css' %}" />

</head>
<body>
  <div id="header">
    <div id="img">
      {% load static %}
      <img src="{% static "device/unipgracingteam.jpg" %}" alt="logo" style="margin-top: 45px;" >
      }
    </div>
  </div>
  <div>
    <table border="1 px">
      {% for data in datas %}
      <tr>
        <td>RMP: </td>
        <td>{{ data.RPM }}</td>
        <td>INJ1: </td>
        <td>{{ data.INJ1 }}</td>
        <td>INJ2: </td>
        <td>{{ data.INJ2 }}</td>
        <td>IGN1: </td>
        <td>{{ data.IGN1 }}</td>
        <td>IGN2: </td>
        <td>{{ data.IGN2 }}</td>
        <td>WTEMP: </td>
        <td>{{ data.WTEMP }}</td>
        <td>AIRTEMP: </td>
        <td>{{ data.AIRTEMP }}</td>
        <td>AIRP: </td>
        <td>{{ data.AIRP }}</td>
      </tr>
      <tr>
        <td>OILT: </td>
        <td>{{ data.OILT }}</td>
        <td>TPS: </td>
        <td>{{ data.TPS }}</td>
        <td>LAMBDA: </td>
        <td>{{ data.LAMBDA }}</td>
        <td>LAMBDA_TRG: </td>
        <td>{{ data.LAMBDA_TRG }}</td>
        <td>SPEED_FL: </td>
        <td>{{ data.SPEED_FL }}</td>
        <td>SPEED_FR: </td>
        <td>{{ data.SPEED_FR }}</td>
        <td>SPEED_RL: </td>
        <td>{{ data.SPEED_RL }}</td>
        <td>SPEED_RR: </td>
        <td>{{ data.SPEED_RR }}</td>
      </tr>
      <tr>
        <td>VBATT: </td>
        <td>{{ data.VBATT }}</td>
        <td>AUX: </td>
        <td>{{ data.AUX }}</td>
        <td>DET: </td>
        <td>{{ data.DET }}</td>
        <td>FCMP: </td>
        <td>{{ data.FCMP }}</td>
        <td>ECU_ERROR: </td>
        <td>{{ data.ECU_ERROR }}</td>
        <td>FPGA_ERROR: </td>
        <td>{{ data.FPGA_ERROR }}</td>
        <td>STATUS: </td>
        <td>{{ data.STATUS }}</td>
        <td>DELTA: </td>
        <td>{{ data.DELTA }}</td>
      </tr>
      <tr>
        <td>DWELL: </td>
        <td>{{ data.DWELL }}</td>
        <td>MAP_TC_SEL: </td>
        <td>{{ data.MAP_TC_SEL }}</td>
        <td>SLPF_FL: </td>
        <td>{{ data.SLPF_FL }}</td>
        <td>SLPF_FR: </td>
        <td>{{ data.SLPF_FR }}</td>
        <td>SLPF_RL: </td>
        <td>{{ data.SLPF_RL }}</td>
        <td>SLPF_RR: </td>
        <td>{{ data.SLPF_RR }}</td>
        <td>CUTOFF: </td>
        <td>{{ data.CUTOFF }}</td>
        <td>TIME: </td>
        <td>{{ data.TIME }}</td>
      </tr>
      <tr>
        <td>AUX_DATA1: </td>
        <td>{{ data.AUX_DATA1 }}</td>
        <td>AUX_DATA2: </td>
        <td>{{ data.AUX_DATA2 }}</td>
        <td>AUX_DATA3: </td>
        <td>{{ data.AUX_DATA3 }}</td>
        <td>AUX_DATA4: </td>
        <td>{{ data.AUX_DATA4 }}</td>
        <td>AUX_DATA5: </td>
        <td>{{ data.AUX_DATA5 }}</td>
        <td>AUX_DATA6: </td>
        <td>{{ data.AUX_DATA6 }}</td>
        <td>AUX_DATA7: </td>
        <td>{{ data.AUX_DATA7 }}</td>
        <td>AUX_DATA8: </td>
        <td>{{ data.AUX_DATA8 }}</td>
      </tr>
      <tr>
        <td>AUX_DATA9: </td>
        <td>{{ data.AUX_DATA9 }}</td>
        <td>AUX_DATA10: </td>
        <td>{{ data.AUX_DATA10 }}</td>
        <td>AUX_DATA11: </td>
        <td>{{ data.AUX_DATA11 }}</td>
        <td>AUX_DATA12: </td>
        <td>{{ data.AUX_DATA12 }}</td>
        <td>AUX_DATA13: </td>
        <td>{{ data.AUX_DATA13 }}</td>
        <td>AUX_DATA14: </td>
        <td>{{ data.AUX_DATA14 }}</td>
        <td>AUX_DATA15: </td>
        <td>{{ data.AUX_DATA15 }}</td>
        <td>AUX_DATA16: </td>
        <td>{{ data.AUX_DATA16 }}</td>
      </tr>
      <tr>
        <td>AUX_DATA17: </td>
        <td>{{ data.AUX_DATA17 }}</td>
        <td>AUX_DATA18: </td>
        <td>{{ data.AUX_DATA18 }}</td>
        <td>AUX_DATA19: </td>
        <td>{{ data.AUX_DATA19 }}</td>
        <td>AUX_DATA20: </td>
        <td>{{ data.AUX_DATA20 }}</td>
        <td>AUX_DATA21: </td>
        <td>{{ data.AUX_DATA21 }}</td>
        <td>AUX_DATA22: </td>
        <td>{{ data.AUX_DATA22 }}</td>
        <td>AUX_DATA23: </td>
        <td>{{ data.AUX_DATA23 }}</td>
        <td>AUX_DATA24: </td>
        <td>{{ data.AUX_DATA24 }}</td>
      </tr>
      <tr>
        <td>AUX_DATA25: </td>
        <td>{{ data.AUX_DATA25 }}</td>
        <td>AUX_DATA26: </td>
        <td>{{ data.AUX_DATA26 }}</td>
        <td>AUX_DATA27: </td>
        <td>{{ data.AUX_DATA27 }}</td>
        <td>AUX_DATA28: </td>
        <td>{{ data.AUX_DATA28 }}</td>
        <td>AUX_DATA29: </td>
        <td>{{ data.AUX_DATA29 }}</td>
        <td>AUX_DATA30: </td>
        <td>{{ data.AUX_DATA30 }}</td>
        <td>AUX_DATA31: </td>
        <td>{{ data.AUX_DATA31 }}</td>
        <td>AUX_DATA32: </td>
        <td>{{ data.AUX_DATA32 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
